# =========================
# Build Folders
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates


# =========================
# NuGet
# =========================
packages/
*.nupkg
.nuget/

# =========================
# Logs
# =========================
*.log

# =========================
# SQLite Database Files
# =========================
*.db
*.db-shm
*.db-wal
*.sqlite



# =========================
# VS Code
# =========================
.vscode/


# =========================
# Backup Files
# =========================
*.bak

# =========================
# JSON Files
# =========================
*.JSON

